@import "../../variables";

.RecipeForm {
  color: $color-text;
  border: 2px solid $color-border;
  border-radius: 5px;
  background-color: $color-component;
  margin: 20px 5% 85px 5%;
  filter: drop-shadow(5px 5px 5px color-mix(in srgb, $color-backdrop 75%, #000));

  .RecipeName {
    font-size: 22px;
    text-align: center;
    border-bottom: 2px solid $color-border;

    .TagContainer {
      display: flex;
      justify-content: center;
      padding: 5px 0;
      gap: 5px;
      flex-wrap: wrap;

      .Tag {
        font-size: $font-size-medium;
        border: 1px solid $color-border;
        border-radius: 5px;
        padding: 2px 4px;
      }
    }
  }


  .RecipeIngredients {
    border-bottom: 2px solid $color-border;

    .IngredientItem {
      margin: 5px;
    }
  }

  .RecipeInstructions {
    margin: 5px;
    white-space: break-spaces;
  }
}

