@import "../../variables";

.NavigationWrapper {
  background: $color-component;
  display: flex;
  height: 50px;
  padding: 0 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  user-select: none;

  .PageName {
    font-size: 25px;
    font-family: Bahnschrift sans-serif;
    margin: auto 25px auto 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  .NavigationElement {
    height: 50%;
    color: $color-headline;
    font-family: Verdana sans-serif;
    font-size: 18px;
    margin: auto 15px auto 0;
    transition: color 0.5s;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
  }

  .NavigationElement:hover {
    color: $color-headline-hover;
  }

  .NavigationElement:last-of-type {
    margin-right: 150px;
  }

  .NavigationSearchBarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    right: 40px;
    top: 15px;
  }
}
