@import "../../../variables";

.TagSelectionWrapper {
  font-size: $font-size-medium;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .TagSelectionSearchBar {
    z-index: auto;
  }

  ul {
    list-style-position: inside;
  }

  .ActiveTag {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
    margin: 5px 0 5px 0;

    .DeleteButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $color-border;
      border-color: $color-border;
      font-size: 14px;
      height: 1.25em;
      width: 1.25em;
      cursor: pointer;
      color: $color-delete;
    }
  }
}